# dependencies
/node_modules

# production
/build
/dist

# misc
.DS_Store
.env*
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
Thumbs.db

# test coverage
coverage

# Optional: logs
logs
*.log

# Optional: local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
