@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "bootstrap/dist/css/bootstrap.min.css";

:root {
  --font-base: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Arial, sans-serif;
}

body {
  background: #fff;
  color: #000;
  margin: 0;
  font-family: var(--font-base);
  font-size: 16px;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  font-family: var(--font-base) !important;
}
