@import "bootstrap/dist/css/bootstrap.min.css";

body {
  background: #fff;
  color: #000;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

* {
  box-sizing: border-box;
}
